<%- include('./partials/_navbar') %>

<div class="title" style="color: yellow; text-align: center;">

    <h1>
        CARRITO
    </h1>
</div>

<div style="padding-left: 5%;padding-right: 5%;">
    <table id="tabla">
        <thead>
            <tr>
                <th>Id Producto</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (carrito.length) { %>
                <% carrito.forEach(elemento => { %>
                    <% if (elemento.rut==persona.rut) { %>
                        <tr>
                            <td><%= elemento.id_material %></td>
                            <td><%= elemento.nombre_material %></td>
                            <td><%= elemento.nombre_categoria %></td>
                            <td><%= elemento.precio_venta %></td>
                            <td><%= elemento.cantidad %></td>
                            <td><button class="btn btn-primary form-control bi bi-pencil-square" type="button"
                                popovertarget="editar-<%= elemento.id_ca %>" popoveraction="toggle">Editar</button>
                            <a class="btn btn-danger form-control bi bi-cart-x"
                                href="carrito/delete/<%= elemento.id_ca %>">Eliminar</a>
                            
                        </td>
                        
                        </tr>
                    <% } %>
                <% }) %>
            
            <% } %>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>